@import url('https//fonts.googleapis.com/css?family=Raleway');
@import url('https//fonts.googleapis.com/css?family=Oswald');
@import url('https//fonts.googleapis.com/css?family=Varela Round');


.button {
    background-color: #ee4242; /* Green */
    border: none;
    color: WHITE;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 70px;
    width: 170px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 300px;
}

.button1 {border-radius: 50px;}
.button2 {border-radius: 50px;}

.button1:hover {
    box-shadow: 0 40px 40px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.intro{
  height: 100%;
  width: 100%;
  margin:auto;
  background: url(macy.jpg) no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;

}

h4{
  font-family: 'Raleway', sans-serif;
  color: #590000;
  text-shadow: 0px 0px 300px #000;
  font-size: 190%;
  margin-left: 15px;
}

#hrc{
  width: 650px;
  height: 2px;
  background-color: #590000;
}

THIS IS THE CODE OF box

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: white;
  background-color: #042326;}
  background-image:url('carey_fosters.jpg') bottom right 15% no-repeat #46B6AC;

BOX CODE IS END HERE
